.life-displays {
  display: grid;
  height: calc(100vh - 60px);
  grid-template-columns: auto auto;
}

.form-player-one {
  background-color: $color-player-one;
}
.form-player-two {
  background-color: $color-player-two;
}
.form-player-three {
  background-color: $color-player-three;
}
.form-player-four {
  background-color: $color-player-four;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  h2 {
    text-align: center;
  }
  .player-life {
    width: 100%;
    color: $color-black;
    border: 0px;
    text-align: center;
    font-size: 5rem;
    font-family: $display-font-family;
    background-color: transparent;
  }
  .actions {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .update-life {
    cursor: pointer;
    width: 60px;
    height: 40px;
    background-color: $color-gray;
    font-size: 16px;
    font-family: $display-font-family;
    border: 1px solid $color-gray;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 1px 2px 3px rgba($color-black, 0.4);
  }
}

form .button-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.update-life {
  color: #000;
}
.update-life i {
  color: #000;
  font-size: 2.7rem;
}