.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: $color-maximum-red;
  h1 {
    font-family: 'Tiro Devanagari Marathi', serif;
    margin-left: 20px;
  }
  .btn-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60px;
    height: 60px;
    gap: 1px;
    border: 0;
    background: transparent;
    cursor: pointer;
    font-size: 0px;
    border-radius: 30px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
    .menu-dot {
      width: 4px;
      height: 4px;
      background-color: #000;
      border-radius: 2px;
      margin-bottom: 4px;
    }
  }
  nav {
    position: absolute;
    display: none;
    top: 30px;
    right: 0;
  }
}
