$color-black: #1b2125;
$color-white: #ffffff;
$color-gray: #D6D6D6;

$color-sonic-silver: #737373;
$color-maximum-red: #cd3021;
$color-melon: #ffb2ac;
$color-dark-sea-green: #7dbb7f;
$color-light-sky-blue: #95cefb;
$color-african-violet: #b175bb;

$color-player-one: $color-melon;
$color-player-two: $color-dark-sea-green;
$color-player-three: $color-light-sky-blue;
$color-player-four: $color-african-violet;

$display-font-family: 'Source Code Pro', monospace;
